<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner" parallel="classes" >
    <parameter name="webClientHost" value="dev"/>
    <parameter name="screenShotPath" value="/screenShot/"/>
    <parameter name="validUserName" value="test123@gmail.com"/>
    <test name="Asset Manager Integration Test">
        <groups>
            <run>
                <include name="smoke" />
            </run>
        </groups>
        <classes>
            <class name="com.gwolde.assetmanager.test.AssetManagerTest"/>
        </classes>
    </test>
</suite>
